.slider__main {
  position: relative;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 800px;

  .slider__buttons--main {
    width: 200px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .slider__image {
    position: absolute;
    display: flex;
    align-items: center;
    right: 33%;
    height: 100%;  
    img {
      object-fit: cover;
      margin: 0 auto;
      margin-left: 50%;
    }
  }
}
