.slider--right {
  position: relative;
  background-color: rgb(250, 149, 82);
  display: flex;
  align-items: center;

  .slider--right--container {
    transform: rotate(90deg);
    width: 500px;
    text-align: center;
    position: relative;
    left: -180px;

    .slider--right--header {
      width: 100%;
      position: absolute;
      top: -40px;
      left:-110px;

      text-transform: uppercase;
      font-size: 110px;
      font-weight: bold;
      color: #fff;
    }
  }

  .slider__counter {
    position: absolute;
    right: 0;
    bottom: 150px;
    transform: rotate(90deg);
    width: 10%;
    overflow: hidden;
    font-size: 30px;

    font-weight: bold;
    display: flex;

    & hr {
      margin-left: 5px;
      background-color: #fff;
      border: 1px solid white;
    }

    & span {
      margin-left: 5px;
      color: #fff;
      font-size: 12px;
    }
  }

  .slider--right-image {
    position: absolute;
    height: 90%;
    left: -50%;
    top: 15%;
  }
  .slider--right--img {
    display: none;
    position: absolute;
    left: calc(-100%);
    bottom: 10%;
  }
}
